/* Estilos generales para el pie de página */
.contacto {
    background-color: #095357; /* Color de fondo para la cabecera y el pie de página */
    color: #fff; /* Color de texto para la cabecera y el pie de página */
    text-align: center; /* Centra el texto horizontalmente */
    padding: 20px; /* Espaciado interno */
    font-family: '__Futura Hv BT_5';
}

.nombres{
    text-align: justify;
}

.titulo {
    font-size: 30px;
    font-family: '__Futura_5';
    margin:10px 0 10px 0;
}

/* Estilos para los contenedores y filas */
.contenedores {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}

.contenedor {
    text-align: left;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.contenedor.contactoLeft{
    width: 400px;
    padding: 0px 60px;
    margin: 0px 30px 0px 40px;
    justify-content: center;
}


.contenedor.contactoRight{
    width: 520px;
    align-items: baseline;
    margin: 0px 0px 0px 80px;
}

.fila {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
}

/* Estilos para los círculos de imágenes */
.circulo {
    width: 46px;
    height: 50px;
    background-color: #095357;
    border-radius: 50%;
    margin: 10px 15px;
    padding-bottom: 20px;
}

.circulo img:hover{
    box-shadow:8px 0px 4px 2px rgba(194, 194, 194, 0.226);
}

.mailto{
    color:rgb(80, 170, 253);
}

.mailto:hover{
    color:rgb(141, 121, 255);
}


/* Estilos para el enlace dentro de los círculos */
.circulo a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #fff;
    padding: 4px;
}

/* Estilos para la imagen dentro del enlace */
.circulo img {
    width: 46px; /* Ancho deseado para la imagen */
    height: 50px; /* Altura deseada para la imagen */
    border-radius: 50%; /* Para que la imagen sea circular */
    object-fit: cover; /* Ajusta la imagen para que llene el círculo */
    box-shadow:8px 0px 4px 2px rgba(0, 0, 0, 0.226);
}

/* Estilos para los campos de entrada y textarea */
input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px;
}

.contactoTextarea {
    flex: 1 1 auto;
    height: 150px;
    margin: 10px;
}

button {
    background-color: #38C8D5;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Estilos para la línea vertical */
.linea {
    border-left: 3px solid #fff;
    margin: 0px 30px;
    flex: 0 1 auto;
    display: block;
}

.mapa-Container{
    display: flex;
    width: 100%;
    height: 258px;
}

.mapa{
    flex: 1 0 auto;
}

/* Estilos para texto y mapa */
p {
    font-size: 16px;
    margin-top: 8px;
}

.copy-right {
    margin: 20px 5px 5px 5px;
    font-size: 12px;
}

/* Estilos para hacer responsivo */
@media screen and (max-width: 1300px) {
    .contenedor.contactoLeft{
        width: 250px;
        padding: 0px 20px;
        margin: 0px 5px 0px 10px;
    }
    
    .contenedor.contactoRight{
        width: 370px;
        margin: 0px 0px 0px 0px;
    }

    .mapa{
        flex: 1 0 auto;
        height: 258px;
    }
}

/* Estilos para hacer responsivo */
@media screen and (max-width: 800px) {

    input[type="text"],
    input[type="email"] {
        margin: 20px;
    }

    .contactoTextarea {
        margin: 20px;
    }

    .linea {
        display: block;
        border-bottom: 3px solid #fff;
        border-left: 0px;
        margin: 30px 0px;
        width: 80%;
    }
}